bs4==0.0.1
chrome-gnome-shell==0.0.0
gunicorn==20.0.4
numpy==1.19.3
PyPDF2==1.26.0
python-apt==2.0.0+ubuntu0.20.4.1
python-dateutil==2.7.3
python-debian===0.1.36ubuntu1
PyYAML==5.3.1
requests==2.22.0
requests-unixsocket==0.2.0
schedule==0.6.0
SecretStorage==2.3.1
selenium==3.141.0
soupsieve==2.0.1
systemd-python==234
ubuntu-advantage-tools==20.3
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.8
usb-creator==0.3.7
wadllib==1.3.3
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
xkit==0.0.0
